<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    .card {
      border-width: 4px 0 0 0;
    }
  </style>
</head>

<body class="bg-light">
  <div class="container">
    <div class="card my-10 border-primary">
      <div class="card-body">
        <h1 class="h3 mb-2">You are successfully registered</h1>
        <a href="#" class="mb-3">View or modify schedule</a>

        <div class="ax-center">
          <img src="https://bootstrapemail.com/some/image.png" class="h-20 w-20 mb-2" />
        </div>
        <h2 class="h4 ax-center">
          Welcome, Juan Dela Cruz!
        </h2>
        <small class="text-secondary ax-center">Cagayan24-123456-123456</small>
        <hr>
        <div class="row my-3">
          <h5 class="text-gray-800">Current Schedule</h5>
        </div>
        <div class="row mb-2 mb-lg-0">
          <strong class="fw-600 col-lg-5 ay-center">10:00am-11:00am</strong>
          <div class="col-lg-7"><img class="pl-4 pl-lg-0 h-6" src="https://placehold.co/242x64" alt="accenture"></div>
        </div>
        <hr>
        <a class="btn btn-primary" href="#" target="_blank">Add to calendar</a>
      </div>
    </div>
  </div>
</body>

</html>
